body{
    padding: 0px;
    margin: 0px;
    margin-top: 100px;
}

.parent{
    display: flex;
    justify-content:center;
    margin: 0 auto;
    /* border: 2px gray solid; */
    width: 80%;
    
}
h1{
    font-size: 50px;
}

.left-title{
    border-left: 5px red solid;
}

#mission-clr{
    color: darkorange;
}
.btn-explr{
    background-color: rgb(236, 56, 56);
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    /* background-image: linear-gradient(45deg,rgb(236, 56, 56),rgb(25, 209, 9),yellow); */
}

.btn-explr:hover{
    background-color: rgba(12, 218, 218, 0.849);
    color: rgb(0, 0, 0);
}

.left-section{
    width: 50%;
}
.right-section{
    width: 50%;
}

.right-section img{
    /* border: 2px gray solid;  */
    width: 70%;
}

#clr-2022{
    color: darkorange;
}

.prnt-2-title{
    text-align: center;
    margin-top: 50px;
}

.prnt-2-card-1{
    background-color: rgb(182, 244, 252);
    width: 250px;
    padding: 20px;
    border-radius: 20px;
}
.card-1-img img{
    width: 55%;
}
.prnt-2-card-2{
    background-color: rgb(171, 253, 212);
    width: 250px;
    padding: 20px;
    border-radius: 20px;
}
.prnt-2-card-3{
    background-color: rgb(250, 215, 215);
    width: 250px;
    padding: 20px;
    border-radius: 20px;
}

.prnt-2-card{
    display: flex;
    justify-content: space-around;
}
